{{#let
  (if
    @disabled
    "bg-neutral-300 border-transparent text-text-disabled"
    (if
      @hasError
      "border-red-400 focus-within:border-red-200"
      (if
        @hasWarning
        "border-orange-400 focus-within:border-orange-200"
        "border-transparent focus-within:border-primary-dark bg-neutral-100 focus-within:bg-neutral-00"
      )
    )
  )
  (if @useSmallSize "text-sm leading-xs" "text-base leading-sm")
  as |borderStyle fontStyle|
}}
  <div
    class="font-inter inline-flex items-center rounded-lg border
      {{borderStyle}}
      {{fontStyle}}
      {{@class}}"
    tabindex="-1"
    ...attributes
    {{on "click" (stop-propagation this.focusInputElement)}}
  >
    {{#if (has-block)}}
      {{yield
        (hash
          icon=(component "fluid-text-input/icon" useSmallSize=@useSmallSize)
          input=(component
            "fluid-text-input/input"
            onInsert=(set this "inputElementRef")
            hasError=@hasError
            hasWarning=@hasWarning
            id=@id
            value=@value
            placeholder=@placeholder
            disabled=@disabled
            type=@type
          )
          leading=(component "fluid-text-input/leading-add-on")
        )
      }}
    {{else}}
      <FluidTextInput::Input
        class="w-full"
        @onInsert={{set this "inputElementRef"}}
        @hasError={{@hasError}}
        @hasWarning={{@hasWarning}}
        @id={{@id}}
        @value={{@value}}
        @placeholder={{@placeholder}}
        @disabled={{@disabled}}
        @type={{@type}}
      />
    {{/if}}
  </div>
{{/let}}