<nav class="fluid-step-breadcrumbs" role="navigation" aria-label="breadcrumbs">
  {{#each @steps as |step idx|}}
    <div
      class="fluid-step-breadcrumb {{if step.completed "fluid-step-breadcrumb--active"}}"
      data-test-breadcrumb
    >
      <span
        data-test-breadcrumb-badge={{idx}}
        data-test-breadcrumb-badge-completed={{step.completed}}
        class="fluid-badge fluid-badge--md"
      >
        {{add idx 1}}
      </span>
      <span class="text-2xl">
        {{step.name}}
      </span>
    </div>
  {{/each}}
</nav>