{{#let
  (if
    @disabled
    "border-neutral-500 bg-neutral-300 text-neutral-600"
    (if
      @hasError
      "border-red-400 focus-within:ring-red-200"
      (if
        @hasWarning
        "border-orange-400 focus-within:ring-orange-200"
        "border-neutral-300 focus-within:border-blue-300 focus-within:ring-blue-200"
      )
    )
  )
  (if @useSmallSize "text-sm leading-xs" "text-base leading-sm")
  as |borderStyle fontStyle|
}}
  <div
    class="font-sans inline-flex items-center border rounded focus:outline-none
      {{borderStyle}}
      {{fontStyle}}
      {{@class}}"
    tabindex="-1"
    ...attributes
    {{on "click" (stop-propagation this.focusInputElement)}}
  >
    {{#if (has-block)}}
      {{yield
        (hash
          icon=(component "fluid-text-input/icon" useSmallSize=@useSmallSize)
          input=(component
            "fluid-text-input/input"
            onInsert=(set this "inputElementRef")
            hasError=@hasError
            hasWarning=@hasWarning
            id=@id
            value=@value
            placeholder=@placeholder
            disabled=@disabled
            type=@type
          )
          leading=(component "fluid-text-input/leading-add-on")
        )
      }}
    {{else}}
      <FluidTextInput::Input
        class="w-full"
        @onInsert={{set this "inputElementRef"}}
        @hasError={{@hasError}}
        @hasWarning={{@hasWarning}}
        @id={{@id}}
        @value={{@value}}
        @placeholder={{@placeholder}}
        @disabled={{@disabled}}
        @type={{@type}}
      />
    {{/if}}

    {{#if (or @hasError @hasWarning)}}
      {{#let (if @useSmallSize "h-4 w-4" "h-5 w-5") as |iconSizingStyles|}}
        <div class="mr-2">
          {{#if @hasError}}
            {{svg-jar "failure" class=(concat "fill-current text-red-500 " iconSizingStyles)}}
          {{/if}}

          {{#if @hasWarning}}
            {{svg-jar "alert" class=(concat "fill-current text-orange-400 " iconSizingStyles)}}
          {{/if}}
        </div>
      {{/let}}
    {{/if}}
  </div>
{{/let}}