<div data-test-fluid-banner class="fluid-banner {{if @type (concat "type:" @type)}}" ...attributes>
  {{#if @icon}}
    {{svg-jar @icon class="fluid-banner--icon"}}
  {{/if}}

  <div class="fluid-banner--content">
    {{#if @header}}
      <h4>
        {{@header}}
      </h4>
    {{/if}}

    {{yield}}
  </div>

  {{#if @onClose}}
    <button type="button" class="w-4 h-4" data-test-fluid-banner-close {{on "click" @onClose}}>
      {{svg-jar "x-line" class="fluid-banner--close"}}
      <span class="sr-only">Close Banner</span>
    </button>
  {{/if}}
</div>