{{#if this.editing}}
  {{#if (has-block)}}
    {{yield
      (hash
        id=this.inputId
        value=this.value
        update=(action this.update)
        placeholder=this.placeholder
        focusOut=(action "focusOut")
      )
    }}
  {{else}}
    <input
      value={{this.value}}
      type="text"
      id={{this.inputId}}
      class="token-field__input"
      disabled={{this.disabled}}
      placeholder={{this.placeholder}}
      onblur={{action "focusOut"}}
      oninput={{action this.update value="target.value"}}
    />
  {{/if}}
{{else}}
  <div id={{this.inputId}} class="token-field token-field__input token-field__display" tabindex="0">
    {{~this.valueAsHTML~}}
  </div>
{{/if}}