{{#if this.editing}}
  <textarea
    class="w-full"
    value={{this.value}}
    id={{this.inputId}}
    disabled={{this.disabled}}
    placeholder={{this.placeholder}}
    onblur={{action "focusOut"}}
    oninput={{action this.update value="target.value"}}
  >
  </textarea>
{{else}}
  <div
    id={{this.inputId}}
    class="token-field token-field__input token-field__display
      {{if this.showPlaceholder "text-neutral-500"}}"
    tabindex="0"
  >
    {{~this.valueAsHTML~}}
  </div>
{{/if}}