<div class="flex">
  <section
    id="sidebar"
    class="z-0 inset-0 flex-none bg-white static h-auto overflow-y-visible pt-0 w-72 block"
  >
    <div
      id="nav-wrapper"
      class="overflow-y-auto scrolling-touch h-auto block sticky top-16 bg-white mr-0"
    >
      {{! template-lint-disable no-inline-styles }}
      <nav
        id="nav"
        class="overflow-y-auto font-medium px-5 pt-10 pb-14 sticky"
        style="height:calc(100vh - 4.5rem)"
      >
        <DocfyOutput @scope="docs" as |node|>
          <ul>
            {{#each node.pages as |page|}}
              <li>
                <DocfyLink
                  @to={{page.url}}
                  @activeClass="bg-black text-white font-bold pl-5 rounded"
                  class="px-4 py-2 relative block text-neutral-600"
                >
                  {{page.title}}
                </DocfyLink>
              </li>
            {{/each}}

            {{#each node.children as |child|}}
              <li class="mt-8">
                <strong class="px-3 mb-3 uppercase tracking-wide body-sm text-neutral-900">
                  <em>{{child.label}}</em>
                </strong>

                <ul class="list-none space-y-2 list-inside">
                  {{#each child.pages as |page|}}
                    <li>
                      <DocfyLink
                        @to={{page.url}}
                        @activeClass="bg-black text-white font-bold pl-6 rounded"
                        class="px-6 py-2 relative block text-neutral-600"
                      >
                        {{page.title}}
                      </DocfyLink>
                    </li>
                  {{/each}}
                </ul>
              </li>
            {{/each}}
          </ul>
        </DocfyOutput>
      </nav>
    </div>
  </section>

  <section id="content-wrapper" class="min-w-0 w-full flex-auto static max-h-full overflow-visible">
    <div class="w-full flex">
      <div class="min-w-0 flex-auto px-8 pt-10 pb-16">
        <ArgumentsTable />

        {{outlet}}

        <nav id="bottom-nav" class="flex justify-between mt-16">
          <DocfyPreviousAndNextPage as |previous next|>
            <button
              type="button"
              class="flex text-left mr-auto transition-colors duration-200 hover:text-gray-900 fluid-button type:plain"
            >
              {{#if previous}}
                <DocfyLink @to={{previous.url}} class="capitalize">
                  <span class="font-bold mr-2">&larr;</span>
                  {{previous.title}}
                </DocfyLink>
              {{/if}}
            </button>
            <button
              type="button"
              class="flex text-right ml-auto transition-colors duration-200 hover:text-gray-900 fluid-button type:plain"
            >
              {{#if next}}
                <DocfyLink @to={{next.url}} class="capitalize">
                  {{next.title}}
                  <span class="font-bold ml-2">&rarr;</span>
                </DocfyLink>
              {{/if}}
            </button>
          </DocfyPreviousAndNextPage>
        </nav>
      </div>

      <div class="block flex-none w-64 pl-8 mr-8">
        <DocfyOutput @fromCurrentURL={{true}} as |page|>
          {{#if page.headings}}
            {{! template-lint-disable no-inline-styles }}
            <nav
              id="anchor-nav"
              class="flex flex-col justify-between overflow-y-auto sticky pt-10 pb-6 top-16"
              style="max-height:calc(100vh - 4.5rem)"
            >
              <div class="mb-8">
                <p class="py-2 caption-lg">
                  <strong>
                    On this page:
                  </strong>
                </p>

                <ul class="space-y-2 pl-2">
                  {{#each page.headings as |heading|}}
                    {{! parent }}
                    <li class="text-neutral-500 italic lowercase caption-lg">
                      <a href="#{{heading.id}}">
                        {{heading.title}}
                      </a>
                    </li>

                    {{#each heading.headings as |childHeading|}}
                      <li class="text-neutral-500 italic lowercase caption-lg pl-2">
                        <a href="#{{childHeading.id}}">
                          {{childHeading.title}}
                        </a>
                      </li>

                      {{#each childHeading.headings as |grandchildHeading|}}
                        <li class="text-neutral-500 italic lowercase caption-sm pl-4">
                          <a href="#{{grandchildHeading.id}}">
                            {{grandchildHeading.title}}
                          </a>
                        </li>
                      {{/each}}
                    {{/each}}
                  {{/each}}
                </ul>
              </div>
            </nav>
          {{/if}}
        </DocfyOutput>
      </div>
    </div>
  </section>
</div>