<DocfyOutput @fromCurrentURL={{true}} as |page|>
  {{#let page.frontmatter.arguments as |arguments|}}
    {{#if arguments}}
      <h3 class="heading-lg font-bold mb-4">
        {{page.title}}
        Arguments
      </h3>
      <FluidTable class="w-full mb-8" as |table|>
        <table.header>
          <table.th>
            name
          </table.th>
          <table.th>
            required?
          </table.th>
          <table.th>
            type
          </table.th>
          <table.th>
            description
          </table.th>
        </table.header>
        <table.body>
          {{#each-in arguments as |name properties|}}
            <tr>
              <table.td>
                @{{name}}
              </table.td>
              <table.td>
                {{properties.required}}
              </table.td>
              <table.td>
                {{properties.type}}
              </table.td>
              <table.td>
                {{properties.description}}
              </table.td>
            </tr>
          {{/each-in}}
        </table.body>
      </FluidTable>
    {{/if}}
  {{/let}}
</DocfyOutput>